body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(-40deg, #771bf0, #bdeca2);
    /* height: 100vh; */
    margin: 0%;
    min-height: 100vh;
    height: 100%;
}
.titre h1{
    display: inline;
    font-size: 4rem;
    font-weight: 500;
}

.titre h2{
    display: inline;
    font-size: 4rem;
    font-weight: 700;
}

h3{
    font-size: 2rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5%;
}

.titre{
    color: white;
    text-align:center;
    text-shadow: 1px 1px 2px #242424;
    margin: 20px;
}

.lien{
    background-color:#242424;
    margin: 0%;
    padding: 10px;
    width: 20%;
    text-align: center;
    color: white;
    text-decoration: none;
    text-wrap: nowrap;
}
nav{
    display: flex;
    border: white 2px solid;
    width: 30vw;

    margin: 50px;
}

.principale{
    border: lightgray 2px solid;
    background-color:#242424;
    color: white;
    border-radius: 20px;
    width: 50vw;
    padding: 25px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#imgRegles{
    display: block;
    max-width: fit-content;
    margin-left:auto;
    margin-right: auto;
}

form{
    
    display:flex;
    flex-direction: column;
}
label{
    margin:1%;
}

form input{
    margin-bottom: 10%;
    background-color:#242424;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: grey, 1px, solid;
    color:azure;
}

#mdp{
    margin-bottom: 0%;
}

.inscription p{
    margin-top: 0;
    font-size: 1rem;
    font-weight: 100;
}
.button{
    background-color: beige;
    border: none;
    margin: 2%;
    border-radius: 5px;
    width:50%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    text-wrap: nowrap;
}

#imgProfil{
    width:80px;
    border-radius: 50%;
    display: block;
    margin:auto;
    margin-top: 0;
    margin-bottom: 5%;
}

table{
    table-layout: fixed;
    margin: auto;
    margin-top: 2%;

}

td{
    border: lightgrey 1px solid;
    text-align: center;
}

th{
    border: lightgray 1px solid;
    text-align: center;
    padding: 5px;
}

#sectionJeu p{
    text-align: center;
    margin-top: 0;
}

tr img{
    width: 100px;
}

#jeu img:last-child{
    display:none;
}